$primary-color: white;
$secondary-color: #f59e0b;
$font-family: "Roboto", sans-serif;
$post-width: 300px;
$post-height: 200px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  list-style: none;
}

body {
  background-color: $primary-color;
}

div,
input,
textarea {
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: $secondary-color;
  z-index: 10;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 300px auto 300px;
  top: 100px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background-color: green;
  z-index: 10;
}

.left-column {
  position: sticky;
  top: 100px;
  width: 300px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  background-color: burlywood;
  padding: 30px;

  .post-filter {
    display: block;
    width: 100%;
    padding: 4px;
    border-radius: 0.5rem;
    border: 2px solid $primary-color;
    font-family: $font-family;
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-color: $secondary-color;
    }
  }

  .post-list li {
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .post-list li.selected {
    border: 2px solid red;
  }

  .post-list li:last-child {
    margin-bottom: 20px;
  }
}

.main-content {
  padding: 40px;

  .post-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post-detail-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, $post-width);
    grid-auto-rows: $post-height;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
  }

  .post-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    overflow: auto;
  }

  .post-container.selected {
    border: 2px solid red;
  }

  /* Create New Post */
  .create-new-post {
    width: 100%;
    max-width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;

    h3 {
      margin-bottom: 20px;
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .create-new-post input {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-color: $secondary-color;
    }
  }

  textarea {
    height: 80px;
  }

  .create-new-post button {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
    cursor: pointer;
  }

  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
}

.right-column {
  position: sticky;
  top: 100px;
  right: 0;
  width: 300px;
  height: calc(100vh - 200px);
  background-color: blueviolet;
  overflow-y: auto;
  padding: 10px;
}
