$font-family: "Roboto", sans-serif;

$primary-color: #f8f8f8;
$secondary-color: #00aaff;
$stop-color: #ff6673;

$grayscale-100: #f2f2f2;
$grayscale-200: #e5e5e5;
$grayscale-300: #d4d4d4;
$grayscale-400: #a3a3a3;
$grayscale-500: #737373;
$grayscale-600: #525252;
$grayscale-700: #404040;
$grayscale-800: #262626;
$grayscale-800: #131313;

$bluescale-100: #f5f8ff;
$bluescale-200: #d6e4ff;
$bluescale-300: #adc8ff;
$bluescale-400: #85a9ff;
$bluescale-500: #5c8dff;
$bluescale-600: #3771ff;
$bluescale-700: #0f55ff;
$bluescale-800: #0040d9;

$post-width: 300px;
$post-height: 200px;
$border-radius: 12px;

@mixin hover-effect {
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  list-style: none;
}

body {
  background-color: $primary-color;
}

div,
input,
textarea {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  // #2F80ED – #B2FFDA
  background-image: -webkit-linear-gradient(135deg, #2f80ed, #b2ffda);
  // #53c5eb
  // #5563ac
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 300px auto 300px;
  top: 100px;
}

.left-column {
  position: sticky;
  width: 300px;
  height: calc(100vh - 200px);
  background-color: $bluescale-100;
  top: 100px;
  padding: 50px 30px;
  overflow-y: auto;

  .post-list-title {
    text-align: center;
    margin-bottom: 24px;
  }

  .post-filter {
    width: 100%;
    font-size: 1.2rem;
    border: 0.8px solid $grayscale-400;
    border-radius: $border-radius;
    padding: 5px 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid $secondary-color;
    }
  }

  .post-list li {
    @include hover-effect;
    color: $grayscale-600;
    border: 1px solid $grayscale-800;
    border-radius: $border-radius;
    padding: 6px 10px;
    margin-bottom: 10px;

    &:hover {
      background-color: $bluescale-200;
      cursor: pointer;
    }
  }

  .post-list li.selected {
    border: 2px solid $stop-color;
  }

  .post-list li:last-child {
    margin-bottom: 20px;
  }
}

.content {
  padding: 50px 40px;

  .form-group {
    margin-bottom: 12px;
  }

  .form-actions {
    text-align: right;
  }

  .form-actions :last-child {
    margin-left: 10px;
  }

  .create-new-post {
    width: 100%;
    max-width: 400px;
    background-color: $grayscale-100;
    border: 2px solid $grayscale-800;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    h2 {
      margin-bottom: 16px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }
  }

  .create-new-post input {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    font-size: 1rem;
    border: 1px solid $grayscale-800;
    border-radius: $border-radius;
    padding: 16px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-color: $secondary-color;
    }
  }

  textarea {
    height: 100px;
    resize: none;
    margin-bottom: 4px;
  }

  .create-new-post button {
    @include hover-effect;
    width: 82px;
    height: 36px;
    font-size: 1.1rem;
    background-color: $grayscale-500;
    color: $primary-color;
    border: none;
    border-radius: $border-radius;

    &:hover {
      background-color: $grayscale-600;
    }
  }

  .error-message {
    display: block;
    font-size: 0.8rem;
    color: $stop-color;
    margin: 5px;
  }

  .post-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post-detail-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, $post-width);
    grid-auto-rows: $post-height;
    justify-content: center;
    align-content: center;
  }

  .post-container {
    @include hover-effect;
    background-color: $grayscale-100;
    border: 1px solid $grayscale-800;
    border-radius: $border-radius;
    padding: 12px 8px 12px 18px;
    margin: 20px;
    overflow: auto;

    &:hover {
      background-color: $grayscale-200;
      cursor: pointer;
    }
  }

  .post-detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .post-container.selected {
    border: 2px solid $stop-color;
  }

  .remove-icon {
    cursor: pointer;
  }
}

.right-column {
  position: sticky;
  width: 300px;
  height: calc(100vh - 200px);
  background-color: $grayscale-200;
  top: 100px;
  right: 0;
  padding: 50px 30px;
  overflow-y: auto;

  .event-list-title {
    text-align: center;
    margin-bottom: 24px;
  }

  .event-list-item {
    @include hover-effect;
    color: $grayscale-600;
    background-color: $grayscale-100;
    border: 1px solid $grayscale-800;
    border-radius: $border-radius;
    padding: 6px 10px;
    margin-bottom: 10px;
  }
}

.footer {
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  z-index: 10;
  // background-image: -webkit-linear-gradient(135deg, #53c5eb, #5563ac);
  background-image: -webkit-linear-gradient(135deg, #00aaff, #000066);
}
